Books Recommender System using Clustering || Collaborative Filtering

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (3.9.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.18.1)
Requirement already satisfied: six>=1.5 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.9.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.18.1)
Requirement already satisfied: six>=1.5 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
books = pd.read_csv('data/BX-Books.csv', sep=";", on_bad_lines="skip", encoding="latin-1", low_memory=False)

In [9]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [10]:
books.shape

(271360, 8)

In [11]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [12]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [13]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [14]:
books.rename(columns={
    'Book-Title':'title',
    'Book-Author' :'author',
    'Year-Of-Publication':'year',
    'Image-URL-L' : 'img-url'}, inplace = True)

In [15]:
books.head(2)

,ISBN,title,author,year,Publisher,img-url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [16]:
users = pd.read_csv('data/BX-Users.csv', sep=";", on_bad_lines="skip", encoding="latin-1", low_memory=False)

In [17]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [18]:
users.shape

(278858, 3)

In [19]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=";", on_bad_lines="skip", encoding="latin-1", low_memory=False)

In [20]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [21]:
ratings.shape

(1149780, 3)

In [22]:
ratings.rename(columns={
    'User-ID':'ID',
    "Book-Rating":"rating"},inplace=True)

In [23]:
ratings.head()

       ID        ISBN  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [24]:
# print the number of users who have given ratings for more than 200 books, we are only considering them only
x=ratings['ID'].value_counts()>200

In [25]:
x

ID
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [26]:
#only 899 users are there who have given reviews for more than 200 books
x[x].shape

(899,)

In [27]:
#retrieves the index of the filtered result
y=x[x].index

In [28]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='ID', length=899)

In [29]:
#keeps only the rows in ratings where the ID is present in y.
ratings=ratings[ratings['ID'].isin(y)]

In [30]:
ratings.head()

          ID        ISBN  rating
1456  277427  002542730X      10
1457  277427  0026217457       0
1458  277427  003008685X       8
1459  277427  0030615321       0
1460  277427  0060002050       0

In [31]:
#joins (merges) the ratings DataFrame with the books DataFrame using the ISBN column as the key.
ratings_with_books=ratings.merge(books,on="ISBN")

In [32]:
ratings_with_books.head()

,ID,ISBN,rating,title,author,year,Publisher,img-url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [33]:
#counts how many ratings each book (title) has received and creates a new DataFrame (num_rating).
#ratings_with_books.groupby('title') → Groups the data by book title.
#['rating'].count() → Counts the number of ratings for each title.
#.reset_index() → Converts the grouped data back into a DataFrame.
num_rating=ratings_with_books.groupby('title')['rating'].count().reset_index()

In [34]:
num_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [35]:
num_rating.rename(columns={
    'rating':'no_of_rating'},inplace=True)

In [36]:
num_rating.head()

                                               title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             2
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

In [37]:
final_rating=ratings_with_books.merge(num_rating,on="title")

In [38]:
final_rating.head(2)

,ID,ISBN,rating,title,author,year,Publisher,img-url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7

In [39]:
final_rating=final_rating[final_rating['no_of_rating']>=50]

In [40]:
final_rating.sample(10)

,ID,ISBN,rating,title,author,year,Publisher,img-url,no_of_rating
192173,110973,0061097101,0,The Saving Graces: A Novel,Patricia Gaffney,2000,HarperTorch,http://images.amazon.com/images/P/0061097101.0...,76
482307,271448,0060096195,0,The Boy Next Door,Meggin Cabot,2002,Avon Trade,http://images.amazon.com/images/P/0060096195.0...,55
128320,76151,0312203039,10,High Five (A Stephanie Plum Novel),Janet Evanovich,1999,St. Martin's Press,http://images.amazon.com/images/P/0312203039.0...,110
179774,102967,0375727345,0,House of Sand and Fog,Andre Dubus III,2000,Vintage Books,http://images.amazon.com/images/P/0375727345.0...,174
138519,78834,0440234743,0,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,182
286836,168064,0553581554,0,The Killing Game: Only One Can Win...and the L...,Iris Johansen,2000,Bantam Books,http://images.amazon.com/images/P/0553581554.0...,53
227779,130474,0312980159,0,Fast Women,Jennifer Crusie,2002,St. Martin's Press,http://images.amazon.com/images/P/0312980159.0...,90
151927,88283,0743418204,0,In Her Shoes : A Novel,Jennifer Weiner,2003,Washington Square Press,http://images.amazon.com/images/P/0743418204.0...,81
28715,12824,0345370775,7,Jurassic Park,Michael Crichton,1999,Ballantine Books,http://images.amazon.com/images/P/0345370775.0...,175
419855,236283,0671034057,0,Now You See Her,Linda Howard,1999,Pocket Books,http://images.amazon.com/images/P/0671034057.0...,52

In [41]:
final_rating.drop_duplicates(['ID','title'],inplace=True)

In [42]:
final_rating.shape

(59850, 9)

In [43]:
#form a metrics table
book_pivot=final_rating.pivot_table(columns='ID',index='title',values='rating')

In [44]:
book_pivot

ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#replacing NAN with 0
book_pivot.fillna(0,inplace=True)

In [46]:
book_pivot

ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from scipy.sparse import csr_matrix

In [48]:
book_sparse=csr_matrix(book_pivot)

In [49]:
book_sparse

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14961 stored elements in Compressed Sparse Row format>

In [50]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [51]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [52]:
pip install --upgrade joblib scikit-learn

Requirement already satisfied: joblib in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (1.4.0)
Collecting joblib
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: scikit-learn in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (1.4.2)
Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp39-cp39-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\megaw\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.4.0)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   -------- ------------------------------- 61.4/301.8 kB 1.1 MB/s eta 0:00:01
   ---------------- ----------------------- 122.9/301.8 kB 1.2 MB/s eta 0:00:01
   ------------------------ --------------- 184.3/301.8 kB 1.2 MB/s eta 0:00:01
   ------------------------------- -------- 235.5/301.8 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------  297.0/301.8 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 1.1 MB/s eta 0:00:00
Downloading scikit_learn-1.6.1-cp39-cp39-win_amd64.whl (11.2 MB)
   ---------------------------------------- 0.0/11.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.2 MB 1.1 MB/s eta 0:00:11
   ---------------------------------------- 0.1/11.2 MB 1.3 MB/s eta 0:00:09
    --------------------------------------- 0.2/11.2 MB 1.3 MB/s eta 0:00:09
    --------------------------------------- 0.2/11.2 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.3/11.2 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.3/11.2 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.4/11.2 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.5/11.2 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.5/11.2 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.6/11.2 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.7/11.2 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.7/11.2 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.2 MB 1.3 MB/s eta 0:00:09
   --- ------------------------------------ 0.8/11.2 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 0.9/11.2 MB 1.3 MB/s eta 0:00:09
   --- ------------------------------------ 1.0/11.2 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.2 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.1/11.2 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.1/11.2 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/11.2 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.2 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.2 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.4/11.2 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.5/11.2 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.5/11.2 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/11.2 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/11.2 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.7/11.2 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.7/11.2 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.8/11.2 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.9/11.2 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.9/11.2 MB 1.3 MB/s eta 0:00:08
   ------- -------------------------------- 2.0/11.2 MB 1.3 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.2 MB 1.3 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.2 MB 1.3 MB/s eta 0:00:08
   ------- -------------------------------- 2.2/11.2 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.2/11.2 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.3/11.2 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.4/11.2 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.4/11.2 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.5/11.2 MB 1.3 MB/s eta 0:00:07
   --------- ------------------------------ 2.5/11.2 MB 1.3 MB/s eta 0:00:07
   --------- ------------------------------ 2.6/11.2 MB 1.3 MB/s eta 0:00:07
   --------- ------------------------------ 2.6/11.2 MB 1.3 MB/s eta 0:00:07
   --------- ------------------------------ 2.7/11.2 MB 1.3 MB/s eta 0:00:07
   --------- ------------------------------ 2.8/11.2 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 2.8/11.2 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.2 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 3.0/11.2 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 3.0/11.2 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.1/11.2 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.1/11.2 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.2/11.2 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.3/11.2 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.3/11.2 MB 1.3 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.2 MB 1.3 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.2 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.5/11.2 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.6/11.2 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.6/11.2 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.2 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.2 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.8/11.2 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.9/11.2 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/11.2 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.0/11.2 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.0/11.2 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.1/11.2 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.2/11.2 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.2/11.2 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.3/11.2 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.3/11.2 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.4/11.2 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.5/11.2 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.5/11.2 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.6/11.2 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.6/11.2 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.7/11.2 MB 1.3 MB/s eta 0:00:06
   ----------------- ---------------------- 4.8/11.2 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 4.8/11.2 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 4.9/11.2 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 4.9/11.2 MB 1.3 MB/s eta 0:00:05
   ----------------- ---------------------- 5.0/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------ --------------------- 5.1/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------ --------------------- 5.1/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------ --------------------- 5.2/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------ --------------------- 5.2/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------- -------------------- 5.3/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------- -------------------- 5.3/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------- -------------------- 5.4/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------- -------------------- 5.5/11.2 MB 1.3 MB/s eta 0:00:05
   ------------------- -------------------- 5.5/11.2 MB 1.3 MB/s eta 0:00:05
   -------------------- ------------------- 5.6/11.2 MB 1.3 MB/s eta 0:00:05
   -------------------- ------------------- 5.7/11.2 MB 1.3 MB/s eta 0:00:05
   -------------------- ------------------- 5.7/11.2 MB 1.3 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.2 MB 1.3 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.2 MB 1.3 MB/s eta 0:00:05
   --------------------- ------------------ 5.9/11.2 MB 1.3 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.2 MB 1.3 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.2 MB 1.3 MB/s eta 0:00:04
   --------------------- ------------------ 6.1/11.2 MB 1.3 MB/s eta 0:00:04
   --------------------- ------------------ 6.1/11.2 MB 1.3 MB/s eta 0:00:04
   ---------------------- ----------------- 6.2/11.2 MB 1.3 MB/s eta 0:00:04
   ---------------------- ----------------- 6.3/11.2 MB 1.3 MB/s eta 0:00:04
   ---------------------- ----------------- 6.3/11.2 MB 1.3 MB/s eta 0:00:04
   ---------------------- ----------------- 6.4/11.2 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.4/11.2 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.5/11.2 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.2 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.2 MB 1.3 MB/s eta 0:00:04
   ----------------------- ---------------- 6.7/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.7/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.9/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 6.9/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------- -------------- 7.0/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------- -------------- 7.0/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------- -------------- 7.1/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------- -------------- 7.2/11.2 MB 1.3 MB/s eta 0:00:04
   ------------------------- -------------- 7.2/11.2 MB 1.3 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.2 MB 1.3 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.2 MB 1.3 MB/s eta 0:00:03
   -------------------------- ------------- 7.4/11.2 MB 1.3 MB/s eta 0:00:03
   -------------------------- ------------- 7.5/11.2 MB 1.3 MB/s eta 0:00:03
   -------------------------- ------------- 7.5/11.2 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 7.6/11.2 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 7.6/11.2 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 7.7/11.2 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 7.7/11.2 MB 1.3 MB/s eta 0:00:03
   --------------------------- ------------ 7.8/11.2 MB 1.3 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.2 MB 1.3 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.2 MB 1.3 MB/s eta 0:00:03
   ---------------------------- ----------- 8.0/11.2 MB 1.3 MB/s eta 0:00:03
   ---------------------------- ----------- 8.1/11.2 MB 1.3 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.2 MB 1.3 MB/s eta 0:00:03
   ----------------------------- ---------- 8.2/11.2 MB 1.3 MB/s eta 0:00:03
   ----------------------------- ---------- 8.2/11.2 MB 1.3 MB/s eta 0:00:03
   ----------------------------- ---------- 8.3/11.2 MB 1.3 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.2 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.2 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.2 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.2 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 8.5/11.2 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 8.6/11.2 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 8.6/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------ --------- 8.6/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------ --------- 8.6/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.2 MB 1.2 MB/s eta 0:00:02
   ------------------------------- -------- 8.8/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 8.8/11.2 MB 1.2 MB/s eta 0:00:02
   ------------------------------- -------- 8.9/11.2 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 8.9/11.2 MB 1.2 MB/s eta 0:00:02
   ------------------------------- -------- 8.9/11.2 MB 1.2 MB/s eta 0:00:02
   ------------------------------- -------- 8.9/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 9.0/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 9.0/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 9.0/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 9.2/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.3/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.3/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.3/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.3/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.4/11.2 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.5/11.2 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.5/11.2 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.5/11.2 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.6/11.2 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.6/11.2 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.7/11.2 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.7/11.2 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 9.8/11.2 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 9.8/11.2 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 9.9/11.2 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.2 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.3/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.2 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.6/11.2 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 10.6/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.2 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.9/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.9/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.9/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.9/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.1/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.1/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 11.2/11.2 MB 1.1 MB/s eta 0:00:00
Installing collected packages: joblib, scikit-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.4.0
    Uninstalling joblib-1.4.0:
      Successfully uninstalled joblib-1.4.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.4.2
    Uninstalling scikit-learn-1.4.2:
      Successfully uninstalled scikit-learn-1.4.2
Successfully installed joblib-1.4.2 scikit-learn-1.6.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\megaw\AppData\Local\Programs\Python\Python39\Lib\site-packages\~klearn'.
  You can safely remove it manually.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [53]:
distance,suggestion=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [55]:
distance

array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
        76.30203143]])

In [56]:
suggestion

array([[237, 238, 240, 241, 184, 536]], dtype=int64)

In [57]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [58]:
book_pivot.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [59]:
books_name=book_pivot.index

In [62]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(books_name,open('artifacts/books_name.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

In [63]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distance,suggestion=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestion)):
        books=book_pivot.index[suggestion[i]]
        for j in books:
            print(j)

In [64]:
book_name='A Bend in the Road'
recommend_book(book_name)

A Bend in the Road
Exclusive
The Cradle Will Fall
No Safe Place
Family Album
Lake Wobegon days